

:root{
    --primary-color: #0f52ba;
    --secondary-black: #4d516d;
    --light-color: #89cfef;
}


*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    background-color: white;
    box-shadow: 0px 3px 6px #0000000D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    top: 0;
    height: 50px;
    z-index: 1000;
    padding-right: 20px;
    padding-left: 10px;
}

.text{
    max-width: 1164px;
    padding-top: 5rem !important;
    padding-bottom: 2.5rem !important;
    text-align: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.terms{
    text-align: center;
    font-family: "Baloo Da 2";
    font-size: 31px;
}

.text_details{
    font-family: "Baloo Da 2";
    display: block;
    text-align: justify;
    line-height: 1.3rem;
    font-size: 17px;
    padding-bottom: 1rem;
}

span{
    font-weight: bolder;
    text-align: left;
    font-size: 18px;
    font-family: "Baloo Da 2";
    padding-bottom: 8px;
}






/*=================================================================FOOTER==================================================================*/

.contact{
    background-color: #f3f4f677;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 20px;
    font-family: "Baloo Da 2";
}

.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}

.contact-info a{
    text-decoration: none;
    color: #565656b6;
}

.contact-info a:hover{
    color: var(--primary-color);
}

.contact-info h4{
    color: #212529;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact-info p{
    color: #565656b6;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
    text-decoration: none;
}

.contact-info p:hover{
    color: var(--primary-color);
}

.contact-info .telephone_numb{
    color: #565656b6;
    text-decoration: none;
}

.contact-info .telephone_numb:hover{
    color: var(--primary-color);
}

.contact-info .gmail{
    text-transform: lowercase; 
    color: #565656b1;
    text-decoration: none;
}

.contact-info .gmail:hover{
    color: var(--primary-color);
}

.social-icon i{
    color: rgb(103, 103, 103);
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}

.social-icon i:hover{
    transform: scale(1.3);
    color: black;
}

.credit{
    text-align: center;
    padding: .3rem;    
    font-size: 12px;
    color: #4542427a;
    border-top: 0.01px solid rgba(0,0,0,.1);
    background-color: #eee;
    font-family: "Baloo Da 2";
}

.credit span{
    color: var(--primary-color);
    font-size: small;
    font-weight: 500;
    font-family: "Baloo Da 2";
}



        /* If you don't want the footer to be responsive, remove these media queries */

        @media (max-width: 880px) {
            .footer-distributed .footer-left,
            .footer-distributed .footer-center,
            .footer-distributed .footer-right {
                display: block;
                width: 100%;
                text-align: center;
            }
            .footer-distributed .footer-center i {
                margin-left: 0;
            }
        }

        @media (max-width: 750px) {
            .footer-center div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }

        @media (min-width: 750px) {
            .ssl-banner {
                width: 70%;
            }
        }



